* 

!/GUI
!/fileUtilities
!/

!main.py
!.gitignore
!requirements.txt
!initializer.py
!/fileUtilities/exceptions.py
!/fileUtilities/file.py
!/fileUtilities/vault.py
!/GUI/GUI.py
!/GUI/models.py
!/GUI/UI.py
!/GUI/vault_icon.ico