#ignore all directories
* 

#Except these ones
!/GUI
!/fileUtilities
!/initializer
!/

#Track these specific files
!main.py
!.gitignore
!requirements.txt
!initializer.py
!image.png
!README.md
!/fileUtilities/exceptions.py
!/fileUtilities/file.py
!/fileUtilities/vault.py
!/GUI/GUI.py
!/GUI/models.py
!/GUI/UI.py
!/GUI/vault_icon.ico
!/GUI/FileSearchWorker.py
!/initializer/__init__.py
!/initializer/DataManager.py
!/initializer/initializer.py
!/initializer/register.py